* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

:root{
    --bg-color:#F3F7F4;
    --fot-color:#101C21;
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 20px;
    display: flex;
}

// header

.header{
    padding: 40px 0;
    flex-wrap: nowrap;
    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__logo{
        
        top: 40px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 75px;
    }

    &__button{
        display: flex;
        gap: 10px;
        cursor: pointer;
        top: 32px;
    }

    &__btn{
        padding:16px 25px ;
        background-color: var(--fot-color);
        color: #fff;
        border-radius: 56px;
    }

    &__btl{
        padding: 16px 16px;
        background-color: #fff;
        border-radius: 28px;
    }

    &__search{
        border: 1px solid #40494D;
        border-radius: 28px; 
    }
    
}


.menu{
    &__body{
        color:#40494D;
        display: flex;
        align-items: center;
        gap: 75px;

    }

    &__link{
        color:  #40494D;
        text-decoration: none;
        top: 48px;
    }
}

.hero{ 
    background-color: var(--bg-color);
    &__title{ 
        padding-top: 278px; 
        font-weight: 400; 
        font-size: 40px; 
        line-height: 50px; 
        padding-left: 0%; 
        padding-right: 253px; 
        color: #283337; 
    } 
 
    &__text{ 
        padding-top:20px; 
        color: #40494D; 
    } 
 
    &__image0{ 
        position: absolute; 
        left: 888px; 
        top: 320px; 
    } 
 
    &__image1{ 
        position: absolute; 
        bottom: 200px; 
        right: 150px; 
        left: 777px; 
        top: 505px; 
    } 
    &__image2{ 
        position: absolute; 
        right: 200px; 
        left: 990px; 
        top: 755px; 
    } 
    &__image3{ 
        position: absolute; 
        bottom: 7px; 
        right: 333px; 
        left: 1185px; 
        top: 480px; 
    } 
 
    &__sponsors{ 
        
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
        position: relative; 
        top: 444px; 
    } 
}

.product{
    &__content{
        flex-direction: column;
    }

    &__start{
        padding-top: 194px;
        padding-left: 80px;
        font-weight: 400;
        font-size: 60px;
    }

    &__coment{
        position: relative;
        width: 363px;
        height: 104px;
        left: 83px;
    }

    &__button{
        position:relative;
        height: 56px;
        width: 243px;
        left: 0px;
        top: 0px;
        border-radius: 56px;
        background-color: #283337;
        color:  #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        left: 105px;
    }

    &__gear{
        position: relative;
        left: 400px;
        top: 200px;
        padding-top: 260px ;
        height: 548px;
        width: 560px;
        border-radius: 6px;
        background-color: #F3F7F4;
    }

    &__img{
        position: absolute;
        height: 90px;
        left: 14.29%;
        right: 69.64%;
        top: 80px;
    }

    &__text{
        font-weight: 400;
        font-size: 32px;
        position: absolute;
        height: 68px;
        left: 14.29%;
        right: 49.46%;
        top: 197px; 
    }

    &__title{
        position: absolute;
        height: 78px;
        left: 14.29%;
        right: 15.89%;  
        top: 316px;
        font-weight: 400;
        font-size: 18px;
    }

    &__learn{
        position: relative;
        text-align: right;
        top: 200px;
    }
}

.results{ 
    display: flex; 
    &__title{ 
        color: #283337; 
        font-size: 40px; 
        position: relative; 
        top: 55px; 
    } 
 
    &__number{ 
        color: #283337; 
        font-size: 55px; 
        position: relative; 
        top: 259px; 
        text-align: center; 
    } 
 
    .data1{ 
        position: relative; 
        right: 346px; 
    } 
 
    .data3{ 
        position: relative; 
        left: 346px; 
    } 
 
    &__text{ 
        color: #40494D; 
        font-style: 16px; 
        position: relative; 
        top: 265px; 
        text-align: center; 
    } 
 
    &__title{ 
        font-size: 50px; 
        text-align: center; 
        position: relative; 
        top: 215px; 
    } 
}